.link_container {
  padding-right: 0px;
}

.link,
.link:visited,
.link:hover {
  color: #cbe4de;
  font-size: 18px;
  text-decoration: none;
}

.name {
  margin-top: 25px;
  font-size: 24px;
  color: #cbe4de;
}

.name_container {
  padding-left: 0px;
}

.navbar {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 120px;
  margin-top: 0px;
}

@media screen and (min-width: 700px) {
  .name {
    font-size: 32px;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .name_container {
    padding-left: 50px;
  }

  .link_container {
    padding-right: 50px;
  }
}
